@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Poppins:wght@100;200;400;500;600;700&family=Work+Sans:wght@500;700&display=swap');
* {
    margin: 0px;
    padding: 8px;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    color: black;
    width: 1440px;
    
    }
button{
    background-color: #FFB742;
    border-radius: 50px;
    height: 54px;
    width: 121px;
    padding: 5px;
    border-style: none;
    font-weight: bold;
    justify-content: center;
    margin-top: 12px;
}

#Amarillo {
    color: #FFB742;
    text-decoration: underline;
    display: inline;
    }
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    }
header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

/* primera pagina*/

section {
    font-family: 'Inter', sans-serif;
}
section span {
    display: flex;
    border-radius: 24px;
}
.greeting{
    font-weight: 700;
    font-size: 32px;
  }
.title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;    
}
.work-easier{
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
}
.presentation{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
   }
.box-uno {
    background: #292B2E;
    display: flex;
    margin: 20px;
    border-radius: 10px;
    }
.box-uno img:nth-child(1) {
    width: 64px;
    height: 64px;
    margin-top: 10px;
    }
.flecha {
    margin-top: 30px;
    width: 20px;
    height: 20px;
}
.text {
    display: block;
    text-align: center;    
}
.text p:nth-child(1){
    color: #FFB742;
    font-size: 24px;
    font-weight: 700;
    line-height: 10px;
    }
.text p:nth-child(2){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

/*About*/
section{
    padding: 20px;
    height: 1000px;
    display: flex;
    justify-content: center;
}
.sectionabout{
    display: flex;
    justify-content: center;
    padding: 0px;

}
.whoiam{
    color: #FFB742;
    background-color: #292b2e;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.aboutme{
    font-family: 'poppins';
    font-weight: 700;
    font-size: 48px;
}

.p .profile{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1000px;
    line-height: 30px;
    color: #d4d4d4;
    width: 700px;
}
.hire-me{
        background-color: #FFB742;
        border-radius: 50px;
        height: 54px;
        width: 121px;
        padding: 5px;
        border-style: none;
        font-weight: bold;
        justify-content: center;
        margin-top: 12px;
}

/*experience*/ 

.experience {
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-content: center;  
    margin-left: 640px;
    }
.practice {
    margin-left: 496px;
    padding: 24px;
    width: 494px;
    height: 49px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
}
.experience1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.experiencebox {
    background-color: #FFFFFF;
    color: #0b0d0f;
    align-items: center;
    width: 380px;
    height: 500px;
    border-radius: 16px;
    margin: 10px;    
 }
.title{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    width: 144px;
    height: 34px;
    margin-bottom: 10px;
}
.company {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    width: 117px;
    height: 48px;
    padding: 24px;
    margin-left: -16px;
    margin-bottom: 10px;
}
p.company.a {
    color:#FFB742;
    text-decoration: none;
}
.logo{
    position: absolute;
    margin-top: -108px;
    margin-left: 240px;
    width: 100px;
    height: 100px;
    border-radius: 75px;
    background-color: #cccccc;
}
.description{
    width: 304px;
    height: 350px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}
/*jokes*/
.principalJokes{
    height: 450px;
}
.smiletitle{
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 80px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-content: center;  
    margin-left: 640px;
}
.readjoke{
    margin-left: 496px;
    padding: 24px;
    width: 494px;
    height: 49px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    }
.jokesbox {
    
    background-color: #FFFFFF;
    color: #0b0d0f;
    width: 300px;
    height: auto;
    align-items: center;
    height: 200px;
    border-radius: 8px;   
    margin-left: 550px;
}
.textjokes{
    font-size: 12px;
}
#onemore{
    background-color: #FFB742;
        border-radius: 50px;
        height: 54px;
        width: 121px;
        padding: 5px;
        border-style: none;
        font-weight: bold;
        justify-content: center;
        margin-top: 12px;
        margin-left: 640px;
    }

/*contact*/

.sectioncontact{
    padding: 12px;
    height: 600px;
}

.contactme{
    color: #FFB742;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    width: 132px;
    height: 30px;
    background-color: #292B2E;
    border-radius: 20px;
    margin-left: 640px;
}
.cajacontact{
    display: flex;
    justify-content: center;
}
.cajacontact img{
    height: 300px;
    width: auto;
    margin-top: 80px;
}

.insert-name  a:hover{
    color: #0b0d0f;
    font-size: larger;
 }


 .infocontacto{
    display: flex;
    border-radius: 12px;
    height: 30px;
    width: 300px;
    color:#FFFFFF;
    margin-left: 250px;
    background-color: #292B2E;
    justify-content: space-between;

}
.datoscontacto {
    width: 784px;
    height: 350px;
    justify-content:center;
    font-size: 32px;
    line-height: 100px;
  }
.buttonsend{
    height: 54px;
    width: 99px;
    left: 453px;
    top: 1143px;
    border-radius: 50px;
    padding: 12px 26px 12px 26px;
    margin-left: 350px;
    
    }
    
/* Footer*/

footer {
display: flex;
justify-content: space-between;
position: absolute;
width: 1440px;
height: 470px;
left: 4px;
top: 926px;
background-color: #0b0d0f;
}
a:hover {
    color: #FFB742;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}

footer div li {
    display: block;
    list-style: none;
    justify-content: space-between;
}
.box-dos p:nth-child(1) {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
}
.box-dos p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
}
.box-tres p{
    font-style: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
}
.box-tres li{
    font-style: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    display: grid;
   }
.box-tres a{
    color: #7B7B7B;
    line-height: 16px;
   }
.box-tres li a:hover{
    color: #FFB742;
    }
.box-tres p:nth-child(1) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    }
.box-tres p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #7B7B7B;
    }
.send-email{
    position: absolute;
    border-radius: 32px;
    height: 28px;
    width: 28px;
    background-color: #FFB742;
    margin-top: 8px;
    margin-left: 16px;
    }
.send-email img{
    position: absolute;
    margin-top: -6px;
    margin-left: -7px;
}
.write-email{
    border-radius: 49px;
    color: #7B7B7B;
    background-color: #0b0d0f;
    border-style: none;
    margin-top: 16px;
}
