@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&family=Poppins:wght@100;200;400;500;600;700&family=Work+Sans:wght@500;700&display=swap');
* {
    margin: 8px;
    padding: 8px;

}
.body {
    font-family: 'Poppins', sans-serif;
    background: #212529;
    width: 1440px;
    
    }
        
 #changemode{
    background-color: #FFB742;
    border-radius: 50px;
    height: 54px;
    width: 121px;
    padding: 5px;
    border-style: none;
    font-weight: bold;
    justify-content: center;
    margin-top: 12px;
}

#Amarillo {
    color: #FFB742;
    text-decoration: underline;
    display: inline;
    }
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
header {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}
.nav1{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}

/*experience*/

.experience {
    color: #FFB742;
    background-color: #292B2E;
    border-radius: 16px;
    width: 148px;
    height: 32px;
    gap: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    align-content: center;  
    margin-left: 640px;
    }
.practice {
    margin-left: 496px;
    padding: 24px;
    width: 494px;
    height: 49px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
}
.experience1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.experiencebox {
    background-color: #FFFFFF;
    color: #0b0d0f;
    align-items: center;
    width: 380px;
    height: 500px;
    border-radius: 16px;
    margin: 10px;    
 }
.titulos{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    width: 144px;
    height: 34px;
    margin-bottom: 10px;
    color: #0b0d0f;
}
.company {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    height: 8px;
    padding: 24px;
    margin-left: -16px;
    margin-bottom: 10px;
}
p.company.a {
  color:#FFB742;
    text-decoration: none;
}
.company{
    color: #0b0d0f;
}
#wwcodemedellin{
    color:#FFB742;
}
.logowwcode{
    position: absolute;
    margin-top: -108px;
    margin-left: 240px;
    width: 100px;
    height: 100px;
}
.logo-logo{
    position: absolute;
    margin-top: -108px;
    margin-left: 240px;
    width: 100px;
    height: 100px;
    border-radius: 75px;
}

.description{
    width: 304px;
    height: 350px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #0b0d0f;
}
.rickmorty{
    color:#FFB742;
}
/* Footer*/

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1440px;
    height: 470px;
    left: 4px;
    top: 926px;
    background-color: #0b0d0f;
}
a:hover {
    color: #FFB742;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
.textos{
    color:#FFFFFF
}
footer div li {
    display: block;
    list-style: none;
    justify-content: space-between;
}
.box-dos p:nth-child(1) {
    font-style: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
}
.box-dos p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
}
.box-tres p{
    font-style: 'Work Sans';
    font-weight: 700;
    font-size: 20px;
}
.box-tres li{
    font-style: 'Work Sans';
    font-weight: 500;
    font-size: 16px;
    display: grid;
   }
.box-tres a{
    color: #7B7B7B;
    line-height: 16px;
   }
.box-tres li a:hover{
    color: #FFB742;
    }
.box-tres p:nth-child(1) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    }
.box-tres p:nth-child(2) {
    font-style: 'Work Sans';
    font-weight: 600;
    font-size: 16px;
    color: #7B7B7B;
    }
.send-email{
    position: absolute;
    border-radius: 32px;
    height: 28px;
    width: 28px;
    background-color: #FFB742;
    margin-top: 8px;
    margin-left: 16px;
    }
.send-email img{
    position: absolute;
    margin-top: -6px;
    margin-left: -7px;
}
.write-email{
    border-radius: 49px;
    color: #7B7B7B;
    background-color: #0b0d0f;
    border-style: none;
    margin-top: 16px;
}
/*light mode*/
.cambiarmodo{
    background-color: #FFFFFF;
}
.navnegro{
    color: #0b0d0f;
}
.experienceboxblack{
    background-color: #0b0d0f;
}
.tituloswhite{
    color: #FFFFFF;
}

.descriptionwhite{
    color: #FFFFFF;
}
.practiceblack{
    color: #0b0d0f;
}
.companywhite{
    color: #FFFFFF;
}
.change-logo{
    content: url("../img/WWCode_Medellin_White\ 1.png");
    background-color: #0b0d0f;
}
.change-logo1{
    content: url("../img/image\ 3.png");
    background-color: #0b0d0f;
  }