body {
    background-color: #72C7D0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #72C7D0;
    height: 90px;
}

#parrafoheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.03em;
    color: #233160;
    padding: 5px 20px;
}

#botonabout {
    margin: 18px;
    margin-right: 70px;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    width: 150px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #233160;
    background-color: #D7F2F2;
    cursor: pointer;
}

.div-uno {
    display: flex;
    flex-direction: row;
    background-color: white;
}

#tituloprincipal {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.01em;
    color: #233160;
    padding: auto;
}

#parraforickmorty{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #233160;
    padding: auto;
}

.div-dos {
    display: flex;
    justify-content: space-between;
    background-color: #96C96A;
    /* border: 1px solid red; */
}

#listahorizontal {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    height: 50px;
}

.listadeitems{
    display: inline;
    list-style-type: none;
    margin: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0px 80px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited,
a:link {
    color: white;
}

#aButton {
    color: #233160;
}

.container{
    background-color: #72C7D0;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.characters{
    background-color: #72C7D0;
}
section .message{
    font-family: 'Inter', sans-serif;
    color:#FFFFFF;
    font-size: 32px;
    font-weight: 400;
    width: 572px;
    height: 127px;
    line-height: 40px;
    text-align: center;
    justify-content: center;
}

.characters .characters-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-content: center;
    padding: 30px;  
    padding-bottom: 10px;
    justify-content: space-evenly;
}
.characters .character-card{
    background-color: #d7f2f2;
    color: #233160;
    border-radius: 20px;
    text-align: center;
    width: 287px; 
    height: 450px; 
    padding: 20px;
    margin:20px;
}
.character-card span{
    font-size: 20.2px;
    font-weight: bold;
}
.character-info figure{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 12px;
}
.character-info figure img{
    border-radius: 20px;
    object-fit: cover;
    width: 250px;
    height: 250px
}
div.character-info{
    font-size: 16px;
}
div.character-info p:nth-child(1){
    color: #d5fab6;
    background-color: #96c96a;
    border-radius: 10px;
    display:inline-flex;
    margin-bottom: 12px;
    margin-top:20px;
    width: 84px;
    height: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    position: relative;
}
.character-info p:nth-child(2), .character-info p:nth-child(3){
    font-weight: 400;
    margin: 8px;
} 
/* footer */
footer {
    display: flex;
    background-color: #96C96A;
    text-align: center;
    justify-content: space-between;
}

footer div ul {
    flex-direction: column;
}

footer li {
    margin: 2px;
    cursor: pointer;
}

.listafooter {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 36px;
    padding-left: 0px;
    margin-left: 0%;
}

#nombre-blanco {
    color: white;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    padding-bottom: 20px;
}

#letraBlanca {
    color: white;
    font-family: "Poppins";
    font-size: 19px;
}

.titulosfooter {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    padding-left: 35px;
    color: white;
}

.hireme {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    padding-right: 400px;
    margin-right: 100px;
}

