body {
    background-color: #72C7D0;
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(46, 9, 130); */
    background-color: #72C7D0;
    height: 90px;
}

#parrafoheader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.03em;
    color: #233160;
    padding: 5px 20px;
}

#botonabout {
    margin: 18px;
    margin-right: 70px;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    width: 150px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #233160;
    background-color: #D7F2F2;
    cursor: pointer;
}

.div-uno {
    display: flex;
    flex-direction: row;
    background-color: white;
}

#tituloprincipal {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.01em;
    color: #233160;
    padding: auto;
}

#parraforickmorty{
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #233160;
    padding: auto;
}

.div-dos {
    display: flex;
    justify-content: space-between;
    background-color: #96C96A;
    /* border: 1px solid red; */
}

#listahorizontal {
    display: flex;
    font-size: 22px;
    cursor: pointer;
    height: 50px;
}

.listadeitems{
    display: inline;
    list-style-type: none;
    margin: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 133%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0px 80px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited,
a:link {
    color: white;
}

#aButton {
    color: #233160;
}

#aButton:visited,
#aButton:link {
    color: #233160;
}

.div3 {
    background-color: #72C7D0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #FFFFFF;
    height: 180px;
    padding: auto;
    position: relative;
    text-align: center;
}

/* footer */
footer {
    display: flex;
    background-color: #96C96A;
    text-align: center;
    justify-content: space-between;
}

footer div ul {
    flex-direction: column;
}

footer li {
    margin: 2px;
    cursor: pointer;
}

.listafooter {
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 36px;
    padding-left: 0px;
    margin-left: 0%;
}

#nombre-blanco {
    color: white;
    display: flex;
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    padding-bottom: 20px;
}

#letraBlanca {
    color: white;
    font-family: "Poppins";
    font-size: 19px;
}

.titulosfooter {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    padding-left: 35px;
    color: white;
}

.hireme {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    padding-right: 400px;
    margin-right: 100px;
}

/* cuadros */


.mainprincipal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
    height: auto;
    margin: 1%;
}

.mainsecundario {
    padding: 25px 150px;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 0.03em;
}

.card {
    background-color: #D7F2F2;
    width: 250px;
    height: 350px;
    border-radius: 5%;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.card-body-p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    color: #233160;
}

.card-body-img {
    border: 5px solid white;
    border-radius: 5%;
    background-color: white;
    height: 100px;
    width: 100px;
    padding: 3%;
    margin: 3%;
}

.generos {
    background-color: #96C96A;
    color: white;
    border-radius: 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    letter-spacing: 0.03em;
    width: 80px;
    height: 30px;
    text-align: center;
}

.card-body-status {
    color: #233160;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    width: 80px;
    height: 5px;
    text-align: center;
    margin: 5%;
}

.card-body-species {
    color: #233160;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.03em;
    width: 80px;
    height: 5px;
    text-align: center;
    margin: 5%;
}